<%= content_for :title, 'Testing' %>

<h1>Aura Creative</h1>
<h3>COWORKING & EVENT SPACE</h3>

<%= image_tag 'elephant.jpg', alt: 'This is a picture of an Elephant', title: 'This is an Elephant', class: 'img-thumbnail img-circle' %>

<img src="<%= asset_path 'elephant.jpg' %>">

<% if user_signed_in? %>
<p>Your email addess is <%= current_user.email %></p>
<% if current_user.profile %>
<p>Welcome <%= current_user.profile.name %></p>
<% else %>
<%= link_to "Create your profile", new_profile_path, class: 'btn btn-primary' %>
<% end %>
<% end %>


